[submodule "lib"]
	path = lib
	url = https://github.com/my-number/myna
[submodule "daemon"]
	path = daemon
	url = https://github.com/my-number/mynad
[submodule "connect-lib"]
	path = connect-lib
	url = https://github.com/my-number/connect-lib
[submodule "connect-popup"]
	path = connect-popup
	url = https://github.com/my-number/connect
[submodule "streamsha"]
	path = streamsha
	url = https://github.com/my-number/streamsha.git
[submodule "appv1"]
	path = appv1
	url = https://github.com/my-number/mynachain-app
[submodule "chain"]
	path = chain
	url = https://github.com/my-number/mynachain.git
[submodule "grayzone"]
	path = grayzone
	url = https://github.com/my-number/grayzone.git
